<template>
    <el-dialog :title="title" :visible="showDialog" @close="close" @open="getData">
        <div class="form-body">
            <div class="row">
               
                   
                     <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr> 
                                <th>Numero</th>
                                <th>Fecha</th>
                              
                                <th>Placa</th>
                                <th>Monto</th>
                                <th>Print</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(row, index) in lista" :key="index">
                                <template v-if="row.id">
                                    <!-- <td>{{ row.date_of_payment }}</td> -->
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.date_of_issue }}</td>  
                                                                   
                                    <td>{{ row.placa }}</td>
                                    <td>{{ row.total }}</td>
                                    <td>

                                         <button type="button" class="btn waves-effect waves-light btn-xs btn-info"
                                    @click.prevent="clickPrint(row.external_id)">PDF</button>
                                    </td>
                                    <td>
                                        
                                    <button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="voided(row.id)" :loading="loading_submit">Anular</button>
                                    </td>
                                </template> 
                            </tr>
                            </tbody> 
                        </table>
                    </div>
                    
                        
               
                <!-- <div class="col-md-12 text-center pt-2" v-if="showAddButton && (document.total_difference > 0)">
                    <el-button type="primary" icon="el-icon-plus" @click="clickAddRow">Nuevo</el-button>
                </div> -->
            </div>
        </div>
    </el-dialog>

</template>

<script>

    // import {deletable} from '../../../../mixins/deletable'

    export default {
        props: ['showDialog', 'recordId'],
        // mixins: [deletable],
        data() {
            return {
                title: null,
                resource: 'expenses',
                form: {},
                showAddButton: true,
                document: {},
                lista: [],
                
            }
        },
        async created() {
            await this.initForm(); 
            await this.$http.get(`/${this.resource}/tables/${this.recordId}`)
                .then(response => {
                    this.lista = response.data.lista
                })
             this.titleDialog = `[Orden : 00${this.recordId}]`   
        },
        methods: {
            initForm() {
                this.form = {
                    payments:[]
                };
            },
            async getData() {
                this.initForm(); 
               await this.$http.get(`/${this.resource}/tables/${this.recordId}`)
                .then(response => {

                    this.lista = response.data.lista
                  
                })
                this.id=this.recordId
            },   
            close() {
                this.$emit('update:showDialog', false); 
            },
            clickPrint(id){
                window.open(`/purchases/print/${id}/ticket`, '_blank');

               // window.open(`/purchases/print/${format}/gviaje`, '_blank');
            },
             voided(id) {
                this.loading_submit = true;
                this.$http.get(`/${this.resource}/${id}/voided`)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.message);
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    });
                
                this.getData()
            }
        }
    }
</script>